* {
  /*återställer standardstilar */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: black;
}

.hamburger {
  /*hamburger menyn visas inte */
  display: none;
}

.title > a {
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  color: white;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 1024px) {
  /*Omvandlas till hamburger meny vid max width 1024px */
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    z-index: 1000;
    /* så menyn visas över innehållet*/
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
  }

  .nav-menu.active {
    left: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
  }

  .nav-item {
    margin: 1.5rem 0;
    /*mellanrum */
  }

  .nav-link {
    color: black;
    /*färg på menyknapparna */
    font-weight: bolder;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    /*ändrar muspekaren*/
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .goHome {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
    font-size: larger;
  }

  .hamburger.active .bar:nth-child(1) {
   transform: translate(0px,2px) rotate(45deg);
  

    /*specifikationer när man trycker på menyn */
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.clear {
  background-color: red;
  padding: 1rem;
  color: white;
  border-radius: 200px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.navbar-title {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

/* .navbar a:hover {
  background-color: #555;
} */

/*SHOP*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  width: 100%;
  padding: 2rem 1rem;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
  transition: 0.5s;
}

.card:hover {
  scale: 1.015;
}

.image-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card img {
  flex: 3 0 0;
  max-width: 100%;
  max-height: 20rem;
  padding-bottom: 2rem;
  object-fit: contain;
}

.card h3 {
  flex: 1 0 0;
  padding-bottom: 1rem;
}

.card .product-description {
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .price-cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  gap: 2rem;
}

.card h4 {
  font-size: 1.5rem;
}

.card button {
  width: 9rem;
  height: 2rem;
  border: 2px solid transparent;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  transition: 0.5s;
}

.card button:hover {
  border-color: black;
  scale: 1.1;
}

/*CART*/
.cart_container {
  text-align: center;
}

@media (min-width: 425px) {
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
}
